{% extends "wyshybackNavBundle:Nav:LocaliserStade.html.twig" %}

  {% block cont %}
      <input id="ville"  value= "{{ Stade.ville }}" >
   <input id="latt"   value= "{{ Stade.latitude }}" >
     <input id="longg"  value= "{{ Stade.longitude }}" >
     <input id="libelle"  value= "{{ Stade.libellestade }}" >
   
   <div id="map"></div>

  {% endblock %}    

    
    
