{# empty Twig template #}
{% extends "wyshybackNavBundle::Layout.html.twig" %}

    
                {% block menu %}
        <li class=""> <a href="{{ path('wyshyback_nav_addjoueurtodb') }}"> <i class="fa fa-th"></i> <span class="title">Ajouter un joueur</span> </a> </li>
      
       
        <li class=""> <a href="{{ path('wyshyback_nav_listerjoueurs') }}"> <i class="fa fa-th"></i> <span class="title">Consulter les joueurs</span> </a> </li>
        <li class=""> <a href="{{ path('wyshyback_nav_joueur') }}"> <i class="fa fa-th"></i> <span class="title">Menu 5</span> </a> </li>
        <li class=""> <a href="{{ path('wyshyback_nav_joueur') }}"> <i class="fa fa-th"></i> <span class="title">Menu 6</span> <span class="label label-important pull-right ">HOT</span></a> </li>
        
                    {% endblock %}
                    
{% block content %}
    <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Ajouter un <span class="semi-bold" > joueur</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body no-border">
			<form novalidate="novalidate" class="form-no-horizontal-spacing" id="form-condensed">	
              <div class="row column-seperation">
                <div class="col-md-6">
                  <h4>Formulaire</h4>            
                    <div class="row form-row">
                      <div class="col-md-5">
                        <input name="form3FirstName" id="form3FirstName" class="form-control" placeholder="First Name" type="text">
                      </div>
                      <div class="col-md-7">
                        <input name="form3LastName" id="form3LastName" class="form-control" placeholder="Last Name" type="text">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-5">
                        <select tabindex="-1" name="form3Gender" id="form3Gender" class="select2 form-control select2-offscreen">
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                        </select>
                      </div>
                      <div class="col-md-7">
                        <input placeholder="Date of Birth" class="form-control" id="form3DateOfBirth" name="form3DateOfBirth" type="text">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12">
                        <input name="form3Occupation" id="form3Occupation" class="form-control" placeholder="Occupation" type="text">
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-8">
                        <div class="radio">
                          <input id="male" name="gender" value="male" checked="checked" type="radio">
                          <label for="male">Male</label>
                          <input id="female" name="gender" value="female" type="radio">
                          <label for="female">Female</label>
                        </div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12">
                        <input name="form3Email" id="form3Email" class="form-control" placeholder="email@address.com" type="text">
                      </div>
                        
			<div class="pull-right">
			 <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Save</button>
			 <button class="btn btn-white btn-cons" type="button">Cancel</button>
			</div>
                    </div>
                </div>
               
				  </div>
			</form>
            </div>
          
    </div>
    {% endblock %}
    
            {% block userInfo %}
                Personne 1
                {% endblock %}
                