{% extends "wyshybackNavBundle::Layout.html.twig" %}

{% block menu %}
        <li class=""> <a href="{{path('tft_addMedecin')}}"> <i class="fa fa-th"></i> <span class="title">Ajouter Medecin</span> </a> </li>
        <li class="">  <a href="{{path('tft_listMedecin')}}"><i class="fa fa-th"></i> <span class="title">Liste Les Medecins</span> </a> </li> 
{% endblock %}

{% block content %}
    <center>
    <h1> Modifier Video</h1>
 <form method='POST' action="{{path('tft_modifVideo',{id:video.id})}}" >
        
        {{ form_widget (form) }}
        
    </form>
    </center>
{% endblock %}
