{% extends "wyshybackNavBundle::Layout.html.twig" %}


{% block content %}
    <center>
    <h1> Modifier Actualite</h1>
 <form method='POST' action="{{path('tft_modifactu',{id:actu.idactualite})}}" {{ form_enctype(form) }} >
        
        {{ form_widget (form) }}
        
    </form>
    </center>
{% endblock %}
